<ion-content [fullscreen]="true">
  <div>
    <ion-title>
      Enter your email
      <p>To receive a reset password link</p>
    </ion-title>
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item lines="none" color="ligth" class="ion-margin-bottom">
      <ion-icon name="mail-outline" slot="start" color="primary"> </ion-icon>
      <ion-input
        class="custom"
        type="email"
        name="email"
        ngModel
        email
        #emailCtrl="ngModel"
        placeholder="Email"
        required
        shape="round"
      ></ion-input>
    </ion-item>

    <ion-text
      color="danger"
      *ngIf="!emailCtrl.valid && emailCtrl.touched"
      class="ion-text-center"
    >
      <p class="errorMsg">* Please enter a valid email address</p>
    </ion-text>

    <ion-button
      [disabled]="!f.valid"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
      >RESET PASSWORD
    </ion-button>
  </form>

  <ion-text color="primary" class="ion-text-center">
    <p class="marginTop">
      Already a member?
      <a [routerLink]="['/login']">
        <b>Sign in</b>
      </a>
    </p>
  </ion-text>
</ion-content>
