<!-- <app-header titulo="Day {{ dayNumber }}"></app-header> -->

<ion-content padding>
  <ion-grid fixed>
    <span *ngIf="finishLoadingStorage()">
      <app-card-list
        *ngFor="let key of day | objectNgFor; index as i"
        [workout]="day[key]"
        [workoutIndex]="i"
      ></app-card-list>
    </span>

    <!-- <ul *ngIf="finishLoadingStorage()">
      <li *ngFor="let key of day | objectNgFor">
        <p>{{ day[key] | json }}</p>
      </li>
    </ul> -->
  </ion-grid>
</ion-content>
